


  <div class="cloudapp-actions" align="end">
    
    <button mat-flat-button type="button" color="primary" (click)="handleUpload()" [disabled]="files.length==0 || loading">{{ 'Main.LoadItems' | translate }}</button>
  </div>
   <!--similar styling to other cloud apps-->
   <h1 >{{ 'Main.LookupTool' | translate }}</h1>
  
 <div>
  <a href="./assets/example input.xlsx">Download lookup tool input template</a>
 </div>
 <br />
  <div>

    
  
      
    
  <ngx-dropzone (change)="onSelect($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" [multiple]=false>
    <ngx-dropzone-label translate>Main.DragFile</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
  </div>
  <div>
    <a [routerLink]="['main']">To Citation Loader</a>
  </div>
 
  
  <div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>