<ng-template #loading_spinner>
    <div class="loading-shade">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="50"
      ></mat-progress-spinner>
    </div>
  </ng-template>
  <section>
    <form
      (ngSubmit)="onSubmit(form)"
      #form="ngForm"
      *ngIf="!loading; else loading_spinner">
      <div class="eca-actions">
        <a [routerLink]="['']" style="float: right">
          <button mat-flat-button color="secondary">
            <mat-icon>arrow_back</mat-icon>Back
          </button>
        </a>
        <button
          mat-flat-button
          color="secondary"
          type="button"
          (click)="onRestore()"
          style="margin-left: 4px">
          Restore Defaults
        </button>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!form.valid">
          Save
        </button>
      </div>
  
      <h1>Settings</h1>
      <mat-form-field>
        <mat-label>Library</mat-label>
        <mat-select
          ngModel
          name="library"
    
          #library="ngModel"
          [(ngModel)]="config.mustConfig.library"
          (selectionChange)="onLibraryChange($event.value)">
          <mat-option *ngFor="let lib of libraries" [value]="lib.code">{{
            lib.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="!library.valid && library.touched"><p>Please choose a location</p></span>
      <div class="from" ngModelGroup="from" appFromvalidator #from="ngModelGroup">
        <mat-form-field>
          <mat-label>Location</mat-label>
          <mat-select
           
            ngModel
            name="location"
            [(ngModel)]="config.from.locations"
            #circ_desk
            (selectionChange)="onLocationChange(config.from.location)">
          <mat-option *ngFor="let location of locations" [value]="location.code">{{
            location.name
          }}</mat-option>
        </mat-select>
        </mat-form-field>

        
        <mat-checkbox type="checkbox" name="isChecked" [(ngModel)]="config.isChecked" (change)="onChangeCheckbox()">
          Complete physical item citations?
        </mat-checkbox>

          
       
       
  
      </div>
    </form>
  </section>
      <!-- <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">
        Save
      </button>
      <button mat-stroked-button color="primary" type="button" (click)="onRestore()" style="margin-left: 4px;">
        Restore Defaults
      </button> -->
    
