<ng-template #loading_spinner>
    <div class="loading-shade">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="50"
      ></mat-progress-spinner>
    </div>
  </ng-template>
  <section>
    <form
      (ngSubmit)="onSubmit(form)"
      #form="ngForm"
      *ngIf="!loading; else loading_spinner">
      <div class="eca-actions">
        <a [routerLink]="['']" style="float: right">
          <button mat-flat-button color="secondary">
            <mat-icon>arrow_back</mat-icon>Back
          </button>
        </a>
        <button
          mat-flat-button
          color="secondary"
          type="button"
          (click)="onRestore()"
          style="margin-left: 4px">
          Restore Defaults
        </button>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!form.valid">
          Save
        </button>
      </div>
  
      <h1>Settings</h1>
      <mat-checkbox type="checkbox" name="moveRequested" [(ngModel)]="config.moveRequested" (change)="onChangeMoveCheckbox()">
        Move physical items?
      </mat-checkbox>
      <div *ngIf="config.moveRequested == true"><p>Please choose a location</p>
      <mat-form-field>
        <mat-label>Library</mat-label>
        <mat-select
          ngModel
          name="library"
    
          #library="ngModel"
          [(ngModel)]="config.mustConfig.library"
          (selectionChange)="onLibraryChange($event.value)">
          <mat-option *ngFor="let lib of libraries" [value]="lib.code">{{
            lib.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="!library.valid && library.touched"><p>Please choose a location</p></span>
      <div class="from" ngModelGroup="from" appFromvalidator #from="ngModelGroup">
        <mat-form-field>
          <mat-label>Location</mat-label>
          <mat-select
           
            ngModel
            name="location"
            [(ngModel)]="config.from.locations"
            #location
            (selectionChange)="onLocationChange(config.mustConfig.location)">
          <mat-option *ngFor="let location of locations" [value]="location.code">{{
            location.name
          }}</mat-option>
        </mat-select>
        </mat-form-field>

        </div>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Reading List visibility, if list needs to be created</mat-label>
            <mat-select
             
              ngModel
              name="visibility" 
              #visibility="ngModel" 
              [(ngModel)]="config.mustConfig.visibility" 
              (selectionChange)="onPubStatusChange($event.value)">
              <mat-option value="PUBLIC">All Students Restricted</mat-option>
              <mat-option value="RESTRICTED">Course Students</mat-option>
              <mat-option value="OPEN_TO_WORLD">Anyone Restricted</mat-option>
              <mat-option value="REGISTERED">All Students Full</mat-option>
              <mat-option value="FULL">Anyone Full</mat-option>
              <mat-option value="PARTIAL">Anyone Restricted, All Students Full</mat-option>
              <mat-option value="DRAFT">Draft</mat-option>
              <mat-option value="ARCHIVED">Archived</mat-option>
              <mat-option value="ARCHIVED">Archived</mat-option>
            
             <mat-option value="DELETED">	Deleted</mat-option>
          </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Reading List publication status, if list needs to be created</mat-label>
            <mat-select
             
              ngModel
              name="pub_status" 
              #pub_status="ngModel" 
              [(ngModel)]="config.mustConfig.pub_status" 
              (selectionChange)="onPubStatusChange($event.value)">
              <mat-option value="ARCHIVED">Archived</mat-option>
              <mat-option value="DRAFT">Draft</mat-option>
              <mat-option value="PUBLISHED">Published</mat-option>

          </mat-select>
          </mat-form-field>
        </div>
        <div>
        <mat-checkbox type="checkbox" name="isChecked"     [(ngModel)]="config.isChecked"     (change)="onChangeCheckbox()">
          Complete physical item citations?
        </mat-checkbox>
        
      </div>
    </form>
  </section>
      <!-- <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">
        Save
      </button>
      <button mat-stroked-button color="primary" type="button" (click)="onRestore()" style="margin-left: 4px;">
        Restore Defaults
      </button> -->
    
