<ng-template #error_msg>
  <h1>This app needs to be configured first</h1>
  
</ng-template>


<div *ngIf="config; else error_msg">
  <div style="display: flex; justify-content: space-between; align-items: center; gap: 8px;">
    <div>
      <button mat-flat-button type="button" color="primary" [routerLink]="['/settings']">
        Settings
      </button>
    </div>
    <div>
      <button mat-flat-button type="button" color="primary" (click)="loadExecl()" [disabled]="files.length==0 || loading">
        {{ 'Main.LoadItems' | translate }}
      </button>
    </div>
  </div>


<ng-template #error_msg>
  <h1>This app needs to be configured first</h1>
</ng-template>


<!--similar styling to other cloud apps-->
<h1 >{{ 'Main.CitationLoader' | translate }}</h1>
<div>
<ngx-dropzone (change)="onSelect($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" [multiple]=false>
  <ngx-dropzone-label translate>Main.DragFile</ngx-dropzone-label>
  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
    <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>
</div>
</div>

<br />
<div>
    <button mat-flat-button type="button" color="primary" [routerLink]="['']">To Lookup Tool</button>

</div>
<div *ngIf="resultMessage">
  
 
  
  <h3 >{{ 'Main.Results' | translate }}</h3>
  <p style="white-space: pre-line">{{resultMessage}}</p> 
  <button mat-flat-button type="button" color="primary" (click)="print(resultMessage)">Download log</button>
  
</div>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>